<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.zjwu.mis.business.dao.RequirementMapper" >
  <resultMap id="BaseResultMap" type="net.zjwu.mis.business.model.Requirement" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="product" property="product" jdbcType="VARCHAR" />
    <result column="is_active" property="isActive" jdbcType="BIT" />
    <result column="is_reviewed" property="isReviewed" jdbcType="BIT" />
    <result column="old_type" property="oldType" jdbcType="VARCHAR" />
    <result column="direct_cover_status" property="directCoverStatus" jdbcType="VARCHAR" />
    <result column="is_approved" property="isApproved" jdbcType="BIT" />
    <result column="screen_shot" property="screenShot" jdbcType="INTEGER" />
    <result column="requirement_doc" property="requirementDoc" jdbcType="INTEGER" />
    <result column="cover_testcase_num" property="coverTestcaseNum" jdbcType="INTEGER" />
    <result column="status_code" property="statusCode" jdbcType="CHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="default_assigner_id" property="defaultAssignerId" jdbcType="INTEGER" />
    <result column="defaultcc_uid" property="defaultccUid" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="net.zjwu.mis.business.model.Requirement" extends="BaseResultMap" >
    <!--
      WARNING - @mbggenerated
    -->
    <result column="descr" property="descr" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    id, name, author, project_id, product, is_active, is_reviewed, old_type, direct_cover_status, 
    is_approved, screen_shot, requirement_doc, cover_testcase_num, status_code, create_date, 
    create_user, update_date, update_user, default_assigner_id, defaultcc_uid
  </sql>
  <sql id="Blob_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    descr
  </sql>
</mapper>